

#loader {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    gap: 3px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #f3f2f2;
    z-index: 2;
    display: none;
}

#loader-icon {
    font-size: 37px;
    padding: 5px 10px;
}

.loader-text-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: var(--pri-font);
}

.loader-text-container>#loader-dynamic-text {
    font-size: 27px;
    font-weight: 800;
    letter-spacing: 2px ;
}

.loader-text-container>#loader-static-text{
    font-size: 18px;
    color: #b8b8b8;
    font-weight: 800;
}

#page-loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-size: 20px;
    color: #243034;
    font-weight: 500;
}
